    #logo {
        width: 70px;
        margin-top: 0.2em;
        margin-left: 3em;
    }
    
    .navbar-nav {
        margin-right: 5em;
    }
    
    nav .collapse ul li button {
        color: white;
        background-color: Transparent;
        text-decoration: none;
        border: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        height: 80px;
        text-align: center;
    }
    
    .navbar {
        margin-bottom: 0;
    }
    
    .main-container {
        height: 800px;
        background: url("../images/prague.jpg") no-repeat;
        background-size: cover;
        background-clip: border-box;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .carusel {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    
    #second-pic {
        display: none;
    }
    
    #third-pic {
        display: none;
    }
    
    .attention-line {
        background-color: yellow;
        height: 50px;
    }
    
    .cheap-flights>.row>.col-md-3>button>article>img {
        width: 300px;
        height: 200px;
    }
    
    .partners>.row>.col-md-3>button>article>img {
        width: 300px;
        height: 200px;
    }
    
    footer {
        margin-top: 1em;
        background-color: rgb(242, 242, 242);
        width: 100%;
        display: inline-block;
    }
    
    footer article h4 {
        color: black;
        font-weight: bold;
        padding: 5px;
    }
    
    footer article ul {
        list-style: none;
    }
    
    footer article ul li {
        padding: 5px;
    }
    
    footer article ul li a {
        color: purple;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }
    
    a {
        text-decoration: none;
    }
    
    footer a img {
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }
    
    .search-form {
        display: inline-block;
        height: 500px;
        width: 100%;
        background-color: #ECECEC;
        margin: 2em 0 0 0;
        padding: 0;
        border-radius: 1em;
        border-top-left-radius: 0;
    }
    
    .buttons {
        width: 100px;
        padding: 0;
        margin: 2em 0 0 1em;
        background-color: #ECECEC;
        border-top-left-radius: 1em;
    }
    
    .buttons>.row>.col-md-12>input {
        display: inline-block;
        width: 100%;
        border-radius: 1em;
        background-color: whitesmoke;
    }
    
    .buttons>.row>.col-md-12>input:hover {
        background-color: #B1A7A7;
    }
    
    .search {
        padding: 0;
    }
    
    .article-buttons {
        background-color: white;
        border: 0;
    }
    
    .section-color {
        background-color: whitesmoke;
    }
    
    .line {
        height: 50px;
        background-color: whitesmoke;
    }
    
    .search-row {
        margin: 0;
    }
    
    .col-lg-offset-4 {
        margin-left: 0;
    }
    
    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
        padding-left: 1em;
    }
    
    #flights {
        padding: 10px;
    }
    
    #planmenu {
        z-index: 1001;
        background-color: white;
        width: 100%;
        position: absolute;
        top: 80px;
        display: none;
        box-sizing: border-box;
    }
    
    .popUp {
        z-index: 1001;
        width: 35%;
        display: none;
        position: absolute;
        top: 200px;
        left: 500px;
        /* height: 400px; */
        background-color: white;
        border-radius: 5px;
        box-sizing: border-box;
        border-radius: 1em;
    }
    
    .formName {
        width: 100%;
        height: 50px;
        background-color: rgb(231, 224, 224);
        box-sizing: border-box;
    }
    
    #signIn label {
        font-size: 15px;
        text-align: center;
        display: block;
        margin-top: 1em;
    }
    
    #signInButton {
        color: #ffffff;
        background-color: #BD04BD;
        border-color: #BD04BD;
    }
    
    #cancelButton {
        color: #ffffff;
        background-color: #178acc;
        border-color: #1684c2;
    }
    
    #signIn label {
        font-size: 15px;
        text-align: center;
        display: block;
        margin-top: 1em;
    }
    
    #signIn input {
        display: block;
        margin: auto;
        height: 2em;
        width: 50%;
        border-radius: 5px;
    }
    
    form#signIn input[type=submit] {
        width: 50%;
        height: 2.5em;
        margin: auto;
        margin-top: 1.5em;
    }
    
    #signIn a {
        color: purple;
        display: block;
        text-align: center;
        padding-top: 1em;
        text-decoration: underline;
        margin-bottom: 1em;
    }
    
    .formName p {
        color: #178acc;
        padding: 10px;
        text-align: center;
        font-size: 2em;
        display: inline-block;
    }
    
    .closeTab {
        float: right;
        font-size: 3em;
        color: purple;
        cursor: pointer;
    }
    
    form a {
        text-decoration: none;
    }
    /* #registration {
    height: 600px;
} */
    
    #registration input {
        display: block;
        margin: auto;
        padding: 0.5em;
        margin-top: 1em;
        border-radius: 3px;
        width: 50%;
        margin-bottom: 1em;
    }
    
    #createUser {
        background-color: purple;
        color: white;
        font-weight: bolder;
    }
    
    #cancelRegistration {
        background-color: #178acc;
        color: white;
        font-weight: bolder;
    }
    
    #departure-margin {
        margin-top: 1em;
        margin-left: -0.5em;
    }
    
    .form-group>.mf {
        padding: 1em;
        margin-left: -0.5em;
    }
    
    .passengers {
        margin-left: 1em;
    }